
    body {
      margin: 0;
      font-family: Arial, sans-serif;
      background-color: #f2f4f7;
    }

    .form-container {
      max-width: 400px;
      margin: 30px auto;
      border-radius: 8px;
      box-shadow: 0 4px 12px rgba(0,0,0,0.1);
      background: white;
      padding: 40px;
      box-shadow: 0 4px 12px rgba(0,0,0,0.1);
      width: 350px;
    }

    h2 {
      text-align: center;
      color: #333;
    }

    label {
      font-weight: bold;
      display: block;
      margin-top: 10px;
    }

    input[type="text"],
    input[type="password"],
    input[type="email"] {
      width: 101%;
      padding: 10px;
      margin-top: 5px;
      border: 1px solid #ccc;
      border-radius: 4px;
    }

    input[type="submit"] {
      width: 101%;
      margin-top: 15px;
      background-color: green;
      color: white;
      border: none;
      padding: 10px;
      border-radius: 4px;
      font-weight: bold;
      cursor: pointer;
    }

    input[type="submit"]:hover {
      background-color: green;
    }

    .login-link {
      text-align: center;
      margin-top: 20px;
    }

    .login-link a {
      color:  rgb(11, 185, 11);
      text-decoration: none;
      font-weight: bold;
    }

    .login-link a:hover {
      text-decoration: underline;
    }
     .success-msg {
      color: green;
      text-align: center;
      margin-top: 10px;
    }

    .error-msg {
      color: red;
      text-align: center;
      margin-top: 10px;
    }
